<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="chart" style="margin: 0 auto"></div>

<script type="text/javascript">
    $( document ).ready(function() {
        $.ajax({
            type: "GET",
            url: '/search_by_date',
            dataType: "json",
            success: function(data) {
                console.log(data);
                $('#chart').highcharts({
                    chart:{
                        type: 'spline',
                        backgroundColor: '#eee',
                        reflow:true
                    },
                    title: {
                        text: '最近30天消费情况',
                        x: -20 //center
                    },
//                    subtitle: {
//                        text: '最近30天消费情况',
//                        x: -20
//                    },
                    xAxis: {
                        categories: data.date
                    },
                    yAxis: {
                        title: {
                            text: 'RMB'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
//                    legend: {
//                        layout: 'vertical',
//                        align: 'right',
//                        verticalAlign: 'middle',
//                        borderWidth: 0
//                    },
                    series: [{
                        name: '金额',
                        data: data.money
                    }]
                });
            }
        });
    });
</script>